<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="LineCode" Value="3" />
    <Attribute Name="LogisticsUrl" Value="http://10.141.191.237:8080/lms/services/LmsSortDataService" />
    <Attribute Name="LedCOM" Value="4" />
    <Attribute Name="LedTextLength" Value="5" />
    <Attribute Name="AppendPara" Value="64" />
    <Attribute Name="FontColor" Value="1" />
    <Attribute Name="FontColorEmpty" Value="2" />
    <Attribute Name="FontColorBreak" Value="3" />
    <Attribute Name="SpeakCount" Value="5" />
    <Attribute Name="OrderCount" Value="25" />
  </Attributes>
  <Services>
    <Service Name="SortPLC" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="SortPLC.xml" />
  </Services>
  <Processes>
    <Process Name="OrderRequestProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.OrderRequestProcess" Suspend="true">
      <Item ServiceName="SortPLC" ItemName="abc" />
    </Process>
    <Process Name="NormalStopProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.NormalStopProcess">
      <Item ServiceName="SortPLC" ItemName="DeviceRunState" />
    </Process>
    <Process Name="CurrentOrderProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.CurrentOrderProcess">
      <Item ServiceName="SortPLC" ItemName="OrderFinish" />
    </Process>
    <!--<Process Name="BreakSortingProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.BreakSortingProcess">
      <Item ServiceName="SortPLC" ItemName="BreakSorting3" />
      <Item ServiceName="SortPLC" ItemName="BreakSorting2" />
    </Process>-->
    <Process Name="LEDProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.LEDProcess">

    </Process>
    <!--<Process Name="BreakRecordProcess" Type="Sorting.Dispatching.dll, Sorting.Dispatching.Process.BreakRecordProcess">
      
    </Process>-->
  </Processes>
</Configuration>